@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>
    Basic Web Scraper Project built in Visual Studio using Asp.Net Web Application.<br />
    Using Selenium and ChromeDriver, the data is scraped from Yahoo Finance Website.
</p>