@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Surekha Srinivasan<br />
    CareerDevs<br />
    Providence, RI<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:surekhasrinivasan.student@careerdevs.com">surekhasrinivasan.student@careerdevs.com</a><br />
</address>
