@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Welcome to Yahoo Finance WebScraper</h2>
    <ul>
        <li>Register if new user</li>
        <li>Logged in User can view Scraped data.</li>
    </ul>
</div>

